<form class="{{cssClass}}" autocomplete="off">
  <div class="sheet-character">
    <div class="sheet-topsection">
        <div class="sheet-header">
          {{localize 'sta.actor.character.personal'}}
        </div>
        <div class="name.wp">
          <label for="char.name">
            {{localize 'sta.actor.character.name'}}
          </label>
          <input name="name" class="text-entry" id="char.name" type="text" value="{{data.name}}"
          placeholder="{{localize 'sta.actor.character.name'}}" />
        </div>
        <div class="flex">
          <div class="species-wp">
            <label for="char.species">
              {{localize 'sta.actor.character.species'}}
            </label>
            <input name="data.species" id="char.species" class="text-entry" type="text" value="{{data.data.species}}"
              placeholder="{{localize 'sta.actor.character.species'}}" />
          </div>
          <div class="rank-wp">
            <label for="char.rank">
              {{localize 'sta.actor.character.rank'}}
            </label>
            <input name="data.rank" class="text-entry" type="text" value="{{data.data.rank}}"
              placeholder="{{localize 'sta.actor.character.rank'}}" />
          </div>
        </div>
        <div class="flex">
          <div class="enviroment-wp">
            <label for="char.enviroment">
              {{localize 'sta.actor.character.environment'}}
            </label>
            <input name="data.environment" id="char.enviroment" class="text-entry" type="text" value="{{data.data.environment}}"
              placeholder="{{localize 'sta.actor.character.environment'}}" />
          </div>
          <div class="upbringing-wp">
            <label for="char.upbringing">
              {{localize 'sta.actor.character.upbringing'}}
            </label>
            <input name="data.upbringing" id="char.upbringing" class="text-entry" type="text" value="{{data.data.upbringing}}"
              placeholder="{{localize 'sta.actor.character.upbringing'}}" />
          </div>
        </div>
        <div class="assignment.wp">
          <label for="char.assignment">
            {{localize 'sta.actor.character.assignment'}}
          </label>
          <input name="data.assignment" id="char.assignment" class="text-entry" type="text" value="{{data.data.assignment}}"
          placeholder="{{localize 'sta.actor.character.assignment'}}" />
        </div>
        <div class="traits.wp">
          <label for="char.traits">
            {{localize 'sta.actor.character.traits'}}
          </label>
          <input name="data.traits" id="char.traits" class="text-entry" type="text" value="{{data.data.traits}}"
              placeholder="{{localize 'sta.actor.starship.traits'}}" />
        </div>
    </div>
    <div class="main">
      <div class="row">
        <div class="lcars-column">
          <div class="lcars-attribute-title-block"></div>
          <div class="lcars-attribute-general-block1"></div>
          <div class="lcars-attribute-general-block2"></div>
          <div class="lcars-attribute-general-block3"></div>
        </div>
        <div class="column left-column">
          <div class="section attribute">
            <div class="title">
              {{localize 'sta.actor.character.attribute.title'}}
            </div>
            <div class="stat header row">
              <div class="text secondary-title">{{localize 'sta.actor.character.attribute.name'}}</div>
              <div class="field secondary-title">{{localize 'sta.actor.attdis.mod'}}</div>
            </div>
            {{#each data.data.attributes as |attribute key|}}
            <div class="stat row">
              <div class="text list-entry"> {{localize attribute.label}} </div>
              <input class="field numeric-entry" id="{{key}}" name="data.attributes.{{key}}.value" type="number"
                value="{{attribute.value}}" placeholder="7" data-dtype="Number" />
            </div>
            {{/each}}
            {{#if options.editable}}
            <div class="check-button btn2 challenge">{{localize 'sta.actor.challenge.roll'}}</div>
            {{/if}}
          </div>
        </div>
        <div class="column center-column">
          <div class="section stress">
            <div class="title">
              {{localize 'sta.actor.character.stress'}}
            </div>
            <div class="track">
              <div id="bar-stress-renderer" class="bar">
                <input type="hidden" class="total" name="data.stress.value" value="{{data.data.stress.value}}"
                  data-dtype="Number" />
                {{#each stress.track}}
                <div class="box stress {{#if selected}}selected{{/if}}" id="stress-{{id}}" data-id="{{id}}"
                  style="width: calc(100% / {{../stress.limit}});">{{label}}</div>
                {{/each}}
              </div>
            </div>
          </div>
          <div class="section img">
            <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{name}}" />
          </div>
          <div class="section determination">
            <div class="title">
              {{localize 'sta.actor.character.determination'}}
            </div>
            <div class="track">
              <div class="bar">
                <div id="bar-determination-renderer" class="bar">
                  <input type="hidden" class="total" name="data.determination.value"
                    value="{{data.data.determination.value}}" data-dtype="Number" />
                  {{#each determination.track}}
                  <div class="box determination {{#if selected}}selected{{/if}}" id="determination-{{id}}"
                    data-id="{{id}}" style="width: calc(100% / {{../determination.limit}});">{{label}}</div>
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column right-column">
          <div class="section discipline">
            <div class="title">
              {{localize 'sta.actor.character.discipline.title'}}
            </div>
            <div class="stat header row">
              <div class="field secondary-title">{{localize 'sta.actor.attdis.mod'}}</div>
              <div class="text secondary-title">{{localize 'sta.actor.character.discipline.name'}}</div>
            </div>
            {{#each data.data.disciplines as |discipline key|}}
            <div class="stat row">
              <input class="field numeric-entry" id="{{key}}" name="data.disciplines.{{key}}.value" type="number"
                value="{{discipline.value}}" placeholder="0" data-dtype="Number" />
              <div class="text list-entry"> {{localize discipline.label}} </div>
            </div>
            {{/each}}
            {{#if options.editable}}
            <div class="check-button btn attribute">{{localize 'sta.actor.attdis.task'}}</div>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="lcars-column">
          <div class="lcars-item1-top-block"></div>
          <div class="lcars-item1-connect-block"></div>
          <div class="lcars-item1-general-block"></div>
        </div>
        {{! Section: Talents }}
        <div class="column left-column">
          <div class="section talents">
            <div class="title">
              {{localize 'sta.item.talent.title'}}
            </div>
            <div class="header row item">
              <div class="image"></div>
              <div class="one-column-with-roll secondary-title">{{localize 'sta.item.genericitem.name'}}</div>
              {{#if  options.editable}}
              <a class="control create" title="Create item" data-type="talent"><i class="fas fa-plus"></i></a>
              {{/if}}
            </div>
            {{#each talents}}
            <li class="row entry" data-item-id="{{id}}" data-item-type="{{type}}"
              data-item-value="{{name}}">
              <div class="image"><img class="chat" src="{{img}}" title="{{name}}" /></div>
              <div class="one-column-no-roll list-entry talent-tooltip-clickable"
                id="talent-tooltip-clickable-{{id}}" data-talent-name="{{name}}">{{name}}</div>
              {{#if ../options.editable}}
              <div class="control">
                <a class="edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
              {{/if}}
            </li>
            <li class="row entry talent-tooltip-container hide" id="talent-tooltip-container-{{id}}">
              <div class="list-entry talent-tooltip-text" id="talent-tooltip-text-{{id}}">
                {{{data.data.description}}}</div>
            </li>
            {{/each}}
          </div>
        </div>
        {{! Section: Values }}
        <div class="column center-column">
          <div class="section values">
            <div class="title">
              {{localize 'sta.actor.value.title'}}
            </div>
            <div class="header row item">
              <div class="image"></div>
              <div class="value-used">{{localize 'sta.actor.value.used'}}</div>
              <div class="one-column-with-roll">{{localize 'sta.item.genericitem.name'}}</div>
              {{#if  options.editable}}
              <a class="control create" title="Create item" data-type="value"><i class="fas fa-plus"></i></a>
              {{/if}}
            </div>
            {{#each values}}
            <li class="row entry" data-item-id="{{this.id}}" data-item-type="value" data-item-value="{{this.name}}">
              <div class="image"><img class="chat" src="{{this.img}}" title="{{this.name}}" /></div>
              {{#if ../options.editable}}
              <a class="value-used control toggle"><i
                  class="fas fa-toggle-{{#if (eq this.data.data.used true)}}on{{else}}off{{/if}}"></i></a>
              {{/if}}
              <h4 class="one-column-with-roll list-entry {{#if (eq this.data.data.used true)}}strike-through{{/if}}">
                {{name}}</h4>
              {{#if ../options.editable}}
              <div class="control">
                <a class="edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
              {{/if}}
            </li>
            {{/each}}
          </div>
        </div>
        {{! Section: Focuses }}
        <div class="column right-column">
          <div class="section focuses">
            <div class="title">
              {{localize 'sta.actor.focus.title'}}
            </div>
            <div class="header row item">
              <div class="image"></div>
              <div class="one-column-with-roll">{{localize 'sta.item.genericitem.name'}}</div>
              {{#if  options.editable}}
              <a class="control create" title="Create item" data-type="focus"><i class="fas fa-plus"></i></a>
              {{/if}}
            </div>
            {{#each focuses }}
            <li class="row entry" data-item-id="{{this.id}}" data-item-type="{{this.type}}"
              data-item-value="{{this.name}}">
              <div class="image"><img class="chat" src="{{this.img}}" title="{{this.name}}" /></div>
              <h4 class="one-column-with-roll list-entry">{{this.name}}</h4>
              {{#if ../options.editable}}
              <div class="control">
                <a class="edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
              {{/if}}
            </li>
            {{/each}}
          </div>
        </div>
      </div>
      {{! Section: Notes }}
      <div class="row">
        <div class="lcars-column">
          <div class="lcars-item2-top-block"></div>
          <div class="lcars-item2-connect-block"></div>
          <div class="lcars-item2-general-block1"></div>
          <div class="lcars-item2-general-block2"></div>
        </div>
        <div class="column left-column">
          <div class="section note">
            <div class="title">
              {{localize 'sta.actor.note.title'}}
            </div>
            <div class="header row item">
              <div class="one-column-no-roll" style="height:17px;"></div>
            </div>
            <div class="note">
              {{editor content=data.data.notes target="data.notes" button=true owner=owner editable=options.editable}}
            </div>
          </div>
        </div>
        {{! Section: Injuries }}
        <div class="column center-column">
          <div class="section injuries">
            <div class="title">
              {{localize 'sta.actor.injury.title'}}
            </div>
            <div class="header row item">
              <div class="one-column-no-roll">{{localize 'sta.item.genericitem.name'}}</div>
              {{#if  options.editable}}
              <a class="control create" title="Create item" data-type="injury"><i class="fas fa-plus"></i></a>
              {{/if}}
            </div>
            {{#each injuries}}
            <li class="row entry" data-item-id="{{this.id}}" data-item-type="{{this.type}}"
              data-item-value="{{this.name}}">
              <h4 class="one-column-no-roll list-entry">{{this.name}}</h4>
              {{#if ../options.editable}}
              <div class="control">
                <a class="edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
              {{/if}}
            </li>
            {{/each}}
          </div>
        </div>
        {{! Section: Belongings }}
        <div class="column right-column">
          <div class="section belongings">
            <div class="title">
              {{localize 'sta.actor.belonging.title'}}
            </div>
            {{! Sub-Section: Weapons }}
            <div class="header row item">
              <div class="image"></div>
              <div class="two-column-with-roll-primary">{{localize 'sta.actor.belonging.weapon.title'}}</div>
              <div class="two-column-with-roll-secondary">{{localize 'sta.actor.belonging.weapon.dmg'}}</div>
              {{#if  options.editable}}
              <a class="control create" title="Create item" data-type="characterweapon"><i class="fas fa-plus"></i></a>
              {{/if}}
            </div>
            {{#each weapons}}
            <li class="row entry" id="weapon-{{weapon.id}}" data-item-id="{{weapon.id}}" data-item-type="{{weapon.type}}"
              data-item-value="{{weapon.name}}" data-item-damage="{{weapon.data.data.damage}}">
              <div class="image"><img class="rollable challenge" src="{{weapon.img}}" title="{{weapon.name}}"
                  data-item-name="{{weapon.name}}" /></div>
              <h4 class="two-column-with-roll-primary list-entry">{{weapon.name}}</h4>
              <h4 class="two-column-with-roll-secondary list-entry damage">{{calculatedDamage}}</h4>
              {{#if ../options.editable}}
              <div class="control">
                <a class="edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
              {{/if}}
            </li>
            {{/each}}
            {{! Sub-Section: Armor }}
            <div class="header row item">
              <div class="image"></div>
              <div class="two-column-with-roll-primary">{{localize 'sta.actor.belonging.armor.title'}}</div>
              <div class="two-column-with-roll-secondary">{{localize 'sta.actor.belonging.armor.protect'}}</div>
              {{#if  options.editable}}
              <a class="control create" title="Create item" data-type="armor"><i class="fas fa-plus"></i></a>
              {{/if}}
            </div>
            {{#each armor}}
            <li class="row entry" id="armor-{{this.id}}" data-item-id="{{this.id}}" data-item-type="{{this.type}}"
              data-item-value="{{this.name}}">
              <div class="image"><img class="chat" src="{{this.img}}" title="{{this.name}}" /></div>
              <h4 class="two-column-with-roll-primary list-entry">{{this.name}}</h4>
              <h4 id="protectval-armor-{{this.id}}" class="two-column-with-roll-secondary list-entry">
                {{this.data.data.protection}}</h4>
              {{#if ../options.editable}}
              <div class="control">
                <a class="edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
              {{/if}}
            </li>
            {{/each}}
            {{! Sub-Section: Other }}
            <div class="header row item">
              <div class="image"></div>
              <div class="two-column-with-roll-primary">{{localize 'sta.actor.belonging.other.title'}}</div>
              <div class="two-column-with-roll-secondary">{{localize 'sta.actor.belonging.other.qty'}}</div>
              {{#if  options.editable}}
              <a class="control create" title="Create item" data-type="item"><i class="fas fa-plus"></i></a>
              {{/if}}
            </div>
            {{#each other}}
            <li class="row entry" id="other-{{this.id}}" data-item-id="{{this.id}}" data-item-type="{{this.type}}"
              data-item-value="{{this.name}}">
              <div class="image"><img class="chat" src="{{this.img}}" title="{{this.name}}" /></div>
              <h4 class="two-column-with-roll-primary list-entry">{{this.name}}</h4>
              <h4 class="two-column-with-roll-secondary list-entry">{{this.data.data.quantity}}</h4>
              {{#if ../options.editable}}
              <div class="control">
                <a class="edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
              {{/if}}
            </li>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</form>