<form class="{{cssClass}}" autocomplete="off">
  <div class="sheet-character">
    <div class="sheet-topsection">
      <div class="startrek-icon">
        <img src="systems/sta-ng/assets/icons/com.png" alt="communicator icon">
      </div>
      <div class="sheet-topsection-inner">

        <div class="sheet-header">
          <h1 class="char-headline pr-10">
            {{localize 'sta.actor.character.personal'}}
          </h1>
        </div>
        <div class="name-wp">
          <label class="label l-w135" for="char.name">
            {{localize 'sta.actor.character.name'}}
          </label>
          <input name="name" class="text-feeld" id="char.name" type="text" value="{{actor.name}}"
          placeholder="{{localize 'sta.actor.character.name'}}" />
        </div>
        <div class="species-wp">
          <label class="label l-w135" for="char.species">
            {{localize 'sta.actor.character.species'}}
          </label>
          <input name="system.species" id="char.species" class="text-feeld" type="text" value="{{actor.system.species}}"
            placeholder="{{localize 'sta.actor.character.species'}}" />
        </div>
        <div class="rank-wp">
          <label class="label l-w135 pl-10" for="char.rank">
            {{localize 'sta.actor.character.rank'}}
          </label>
          <input name="system.rank" class="text-feeld" type="text" value="{{actor.system.rank}}"
            placeholder="{{localize 'sta.actor.character.rank'}}" />
        </div>
        <div class="enviroment-wp">
          <label class="label l-w135" for="char.enviroment">
            {{localize 'sta.actor.character.environment'}}
          </label>
          <input name="system.environment" id="char.enviroment" class="text-feeld" type="text" value="{{actor.system.environment}}"
            placeholder="{{localize 'sta.actor.character.environment'}}" />
        </div>
        <div class="upbringing-wp">
          <label class="label l-w135 pl-10" for="char.upbringing">
            {{localize 'sta.actor.character.upbringing'}}
          </label>
          <input name="system.upbringing" id="char.upbringing" class="text-feeld" type="text" value="{{actor.system.upbringing}}"
            placeholder="{{localize 'sta.actor.character.upbringing'}}" />
        </div>
        <div class="assignment-wp">
          <label class="label l-w135" for="char.assignment">
            {{localize 'sta.actor.character.assignment'}}
          </label>
          <input name="system.assignment" id="char.assignment" class="text-feeld" type="text" value="{{actor.system.assignment}}"
          placeholder="{{localize 'sta.actor.character.assignment'}}" />
        </div>
        <div class="traits-wp">
          <label class="label l-w135" for="char.traits">
            {{localize 'sta.actor.character.traits'}}
          </label>
          <input name="system.traits" id="char.traits" class="text-feeld" type="text" value="{{actor.system.traits}}"
              placeholder="{{localize 'sta.actor.starship.traits'}}" />
        </div>
      </div>
    </div>
    <div class="sheet-ability-wp">
      <div class="sheet-ability-inner">
        <div class="sheet-left-wp">
          <div class="sheet-ability">
            <div class="sheet-section-headline">
              <h3 class="sheet-section-h3">{{localize 'sta.actor.character.attribute.title'}}</h3>
            </div>
            <div class="sheet-ability-section">
              {{#each actor.system.attributes as |attribute key|}}
                <div class="sheet-ability-element">
                  <input class="sheet-ability-input-checkbox" name="attributes" id="radio-{{key}}" type="radio">
                  <label class="sheet-ability-label-text" for="radio-{{key}}">
                    {{localize (concat 'sta.actor.character.attribute' '.' key)}}
                  </label>
                  <input class="text-feeld sheet-ability-input" id="input-{{key}}" name="system.attributes.{{key}}" type="number"
                    value="{{attribute}}" min="7" max="12" data-dtype="Number" />
                </div>
              {{/each}}
            </div>
          </div>
          <div class="sheet-ability">
            <div class="sheet-section-headline">
              <h3 class="sheet-section-h3">{{localize 'sta.actor.character.discipline.title'}}</h3>
            </div>
            <div class="sheet-ability-section">
              {{#each actor.system.disciplines as |discipline key|}}
                <div class="sheet-ability-element">
                  <input class="sheet-ability-input-checkbox" name="disciplines" id="radio-{{key}}" type="radio">
                  <label class="sheet-ability-label-text" for="radio-{{key}}">
                    {{localize (concat 'sta.actor.character.discipline' '.' key)}}
                  </label>
                  <input class="text-feeld sheet-ability-input" id="input-{{key}}" name="system.disciplines.{{key}}" type="number"
                    value="{{discipline}}" min="0" max="5" data-dtype="Number" />
                </div>
              {{/each}}
            </div>
          </div>
          <div class="sheet-char-value">
            <div class="sheet-section-headline">
              <h3 class="sheet-section-h3 sheet-section-long-h3">{{localize 'sta.actor.value.title'}}</h3>
            </div>
            <div class="sheet-char-values">
              {{#each values }}
                <li class="flex align-center" data-item-id="{{this.id}}" data-item-type="value" data-item-value="{{this.name}}">
                  <div class="flex icon-wp pr-5">
                    <button class="btn-chat chat">
                      <img class="list-icon" src="systems/sta-ng/assets/icons/com.png" title="{{this.name}}" />
                    </button>
                    {{#if ../options.editable}}
                    <button class="value-used toggle btn-toggle">
                      <i class="fas fa-toggle-{{#if (eq this.data.data.used true)}}on{{else}}off{{/if}}"></i>  
                    </button>
                    {{/if}}
                  </div>
                  <div class="flex-1 list-entry {{#if (eq this.data.data.used true)}}strike-through{{/if}}">{{name}}</div>
                  {{#if ../options.editable}}
                  <div class="flex control">
                    <button class="btn btn-editors edit" title="Edit Item"><i class="fas fa-edit"></i></button>
                    <button class="btn2 btn-editors delete" title="Delete Item"><i class="fas fa-trash"></i></button>
                  </div>
                  {{/if}}
                </li>
              {{/each}}
            </div>
            <div class="sheet-char-add">
              {{#if  options.editable}}
                <button class="btn control create" title="Create item" data-type="value"><i class="fas fa-plus"></i></button>
              {{/if}}
            </div>

          </div>
        </div>
        <div class="sheet-right-wp">
           <div class="sheet-ability">
            <div class="sheet-section-headline">
              <h3 class="sheet-section-h3 sheet-section-long-h3">{{localize 'sta.apps.task.title'}}</h3>
            </div>
            <div class="sheet-ability-focus-area">
              <div class="sheet-ability-area-label">
                <label class="label">{{localize "sta.apps.focus"}}</label>
              </div>
              <div class="sheet-ability-focus-inner">
                <input type="radio" class="sheet-ability-focus-radio" id="focus-no" name="use-focus" value="No">
                <label class="label sheet-ability-focus-label" for="focus-no">No</label>
                <input type="radio" class="sheet-ability-focus-radio"id="focus-yes" name="use-focus" value="Yes">
                <label class="label sheet-ability-focus-label" for="focus-yes">Yes</label>
              </div>
            </div>
             <div class="sheet-ability-focus-area">
               <div class="sheet-ability-area-label">
                <label class="label">{{localize "sta.roll.complicationRange"}}</label>
              </div>
              <div class="sheet-ability-focus-inner">
                <input type="radio" class="sheet-ability-focus-radio" id="complicationrange-1" name="complicationrange" value="1">
                <label class="label sheet-ability-focus-label" for="complicationrange-1">1</label>
                <input type="radio" class="sheet-ability-focus-radio"id="complicationrange-2" name="complicationrange" value="2">
                <label class="label sheet-ability-focus-label" for="complicationrange-2">2</label>
                <input type="radio" class="sheet-ability-focus-radio"id="complicationrange-3" name="complicationrange" value="3">
                <label class="label sheet-ability-focus-label" for="complicationrange-3">3</label>
                <input type="radio" class="sheet-ability-focus-radio"id="complicationrange-4" name="complicationrange" value="4">
                <label class="label sheet-ability-focus-label" for="complicationrange-4">4</label>
                <input type="radio" class="sheet-ability-focus-radio"id="complicationrange-5" name="complicationrange" value="5">
                <label class="label sheet-ability-focus-label" for="complicationrange-5">5</label>
              </div>
            </div>
            <div class="sheet-ability-focus-area">
               <div class="sheet-ability-area-label">
                <label class="label">{{localize "sta.roll.taskRoll"}}</label>
              </div>
              <div class="sheet-ability-focus-inner is-start">
                <button class="dice"><img src="systems/sta-ng/assets/icons/com.png" alt="communicator icon"></button>
                <input type="radio" class="sheet-ability-focus-radio" id="taskdice-1" name="taskdice" value="1">
                <label class="label sheet-ability-focus-label" for="taskdice-1">1</label>
                <input type="radio" class="sheet-ability-focus-radio"id="taskdice-2" name="taskdice" value="2">
                <label class="label sheet-ability-focus-label" for="taskdice-2">2</label>
                <input type="radio" class="sheet-ability-focus-radio"id="taskdice-3" name="taskdice" value="3">
                <label class="label sheet-ability-focus-label" for="taskdice-3">3</label>
                <input type="radio" class="sheet-ability-focus-radio"id="taskdice-4" name="taskdice" value="4">
                <label class="label sheet-ability-focus-label" for="taskdice-4">4</label>
                <input type="radio" class="sheet-ability-focus-radio"id="taskdice-5" name="taskdice" value="5">
                <label class="label sheet-ability-focus-label" for="taskdice-5">5</label>
              </div>
            </div>
            <div class="sheet-ability-focus-area">
              <div class="sheet-ability-area-label">
              <label class="label">{{localize "sta.roll.challangeDice"}}</label>
              </div>
              <div class="sheet-ability-focus-inner is-start">
                <button class="dice"><img src="systems/sta-ng/assets/icons/com.png" alt="communicator icon"></button>
                <input class="text-feeld sheet-ability-input" id="input-dices" type="number"
                    min="0" max="12" data-dtype="Number" />
              </div>
            </div>
          </div>
          <div class="sheet-char-focus">
            <div class="sheet-section-headline">
              <h3 class="sheet-section-h3 sheet-section-long-h3">{{localize 'sta.actor.focus.title'}}</h3>
            </div>
            <div class="sheet-char-focuses">
              {{#each focuses }}
                <li class="flex align-center" data-item-id="{{this.id}}" data-item-type="{{this.type}}"
                  data-item-value="{{this.name}}">
                  <div class="icon-wp pr-5">
                    <button class="btn-chat chat">
                      <img class="list-icon" src="systems/sta-ng/assets/icons/com.png" title="{{this.name}}" />
                    </button>
                  </div>
                  <div class="flex-1 list-entry">{{this.name}}</div>
                  {{#if ../options.editable}}
                  <div class="flex control">
                    <button class="btn btn-editors edit" title="Edit Item"><i class="fas fa-edit"></i></button>
                    <button class="btn2 btn-editors delete" title="Delete Item"><i class="fas fa-trash"></i></button>
                  </div>
                  {{/if}}
                </li>
              {{/each}}
            </div>
            <div class="sheet-char-focus-add">
              {{#if  options.editable}}
                <button class="btn control create" title="Create item" data-type="focus"><i class="fas fa-plus"></i></button>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sheet-char-info">
      <div class="sheet-ability-inner">
        <div class="sheet-left-wp">
          <div class="sheet-determination">
            <div class="sheet-section-headline">
              <h3 class="sheet-section-h3 sheet-section-long-h3">{{localize 'sta.actor.character.determination'}}</h3>
            </div>
            <div class="sheet-determinations flex" data-type="determinations">
              <input class="sheet-determinations-checkbox" type="checkbox" name="determination" id="d-1" />
              <label class="sheet-determinations-checkbox-label" for="d-1"></label>
              <input class="sheet-determinations-checkbox" type="checkbox" name="determination" id="d-2" />
              <label class="sheet-determinations-checkbox-label" for="d-2"></label>
              <input class="sheet-determinations-checkbox" type="checkbox" name="determination" id="d-3" />
              <label class="sheet-determinations-checkbox-label" for="d-3"></label>

            </div>
          </div>
          <div class="sheet-char-talent">
            <div class="sheet-section-headline">
              <h3 class="sheet-section-h3 sheet-section-long-h3">{{localize 'sta.item.talent.title'}}</h3>
            </div>
            <div class="sheet-char-talents">
              {{#each talents}}
                <li class="flex align-center" data-item-id="{{id}}" data-item-type="{{type}}" data-item-value="{{name}}">
                  <div class="flex icon-wp pr-5">
                    <button class="btn-chat chat">
                      <img class="list-icon" src="systems/sta-ng/assets/icons/com.png" title="{{name}}" />
                    </button>
                  </div>
                  <div class="flex-1 list-entry">{{name}}</div>
                  {{#if ../options.editable}}
                  <div class="flex control">
                    <button class="btn btn-editors edit" title="Edit Item"><i class="fas fa-edit"></i></button>
                    <button class="btn2 btn-editors delete" title="Delete Item"><i class="fas fa-trash"></i></button>
                  </div>
                  {{/if}}
                </li>
              {{/each}}
            </div>
            <div class="sheet-char-add">
              {{#if  options.editable}}
                <button class="btn control create" title="Create item" data-type="talent"><i class="fas fa-plus"></i></button>
              {{/if}}
            </div>
          </div>
          <div class="sheet-char-weapon mt-10">
            <div class="sheet-section-headline">
              <h3 class="sheet-section-h3 sheet-section-long-h3">{{localize 'sta.actor.belonging.weapon.title'}}</h3>
            </div>
            <div class="sheet-char-talents">
              {{#each weapons}}
                <li class="flex align-center" id="weapon-{{weapon.id}}" data-item-id="{{weapon.id}}" data-item-type="{{weapon.type}}"
              data-item-value="{{weapon.name}}" data-item-damage="{{weapon.data.data.damage}}">
                  <div class="flex icon-wp pr-5">
                    <button class="btn-chat chat">
                      <img class="list-icon" src="{{weapon.img}}" title="{{weapon.name}}"
                  data-item-name="{{weapon.name}}" />
                    </button>
                  </div>
                  <div class="flex-1 flex">
                    <div class="flex-1 list-entry">{{weapon.name}}</div>
                    <div class="list-entry pr-10">{{calculatedDamage}}</div>
                  </div>
                  {{#if ../options.editable}}
                  <div class="flex control">
                    <button class="btn btn-editors edit" title="Edit Item"><i class="fas fa-edit"></i></button>
                    <button class="btn2 btn-editors delete" title="Delete Item"><i class="fas fa-trash"></i></button>
                  </div>
                  {{/if}}
                </li>
              {{/each}}
            </div>
            <div class="sheet-char-add">
              {{#if  options.editable}}
                <button class="btn control create" title="Create item" data-type="characterweapon"><i class="fas fa-plus"></i></button>
              {{/if}}
            </div>
          </div>
        </div>
        <div class="sheet-right-wp">
          <div class="sheet-effort">
            <div class="sheet-section-headline">
              <h3 class="sheet-section-h3 sheet-section-long-h3">{{localize 'sta.actor.character.effort'}}</h3>
            </div>
            <div class="sheet-efforts flex" data-type="efforts">
              <input class="sheet-efforts-checkbox" type="checkbox" name="effort" id="e-1" />
              <label class="sheet-efforts-checkbox-label" for="e-1"></label>
              <input class="sheet-efforts-checkbox" type="checkbox" name="effort" id="e-2" />
              <label class="sheet-efforts-checkbox-label" for="e-2"></label>
              <input class="sheet-efforts-checkbox" type="checkbox" name="effort" id="e-3" />
              <label class="sheet-efforts-checkbox-label" for="e-3"></label>
              <input class="sheet-efforts-checkbox" type="checkbox" name="effort" id="e-4" />
              <label class="sheet-efforts-checkbox-label" for="e-4"></label>
              <input class="sheet-efforts-checkbox" type="checkbox" name="effort" id="e-5" />
              <label class="sheet-efforts-checkbox-label" for="e-5"></label>
              <input class="sheet-efforts-checkbox" type="checkbox" name="effort" id="e-6" />
              <label class="sheet-efforts-checkbox-label" for="e-6"></label>
              <input class="sheet-efforts-checkbox" type="checkbox" name="effort" id="e-7" />
              <label class="sheet-efforts-checkbox-label" for="e-7"></label>
              <input class="sheet-efforts-checkbox" type="checkbox" name="effort" id="e-8" />
              <label class="sheet-efforts-checkbox-label" for="e-8"></label>
              <input class="sheet-efforts-checkbox" type="checkbox" name="effort" id="e-9" />
              <label class="sheet-efforts-checkbox-label" for="e-9"></label>
              <input class="sheet-efforts-checkbox" type="checkbox" name="effort" id="e-10" />
              <label class="sheet-efforts-checkbox-label" for="e-10"></label>
              <input class="sheet-efforts-checkbox" type="checkbox" name="effort" id="e-11" />
              <label class="sheet-efforts-checkbox-label" for="e-11"></label>
            </div>
          </div>
          <div class="sheet-char-injury">
            <div class="sheet-section-headline">
              <h3 class="sheet-section-h3 sheet-section-long-h3">{{localize 'sta.actor.injury.title'}}</h3>
            </div>
            <div class="sheet-char-talents" data-type="injury">
              {{#each injuries}}
                <li class="flex align-center" data-item-id="{{this.id}}" data-item-type="{{this.type}}" data-item-value="{{this.name}}">
                  <div class="flex icon-wp pr-5">
                    <button class="btn-chat chat">
                      <img class="list-icon" src="systems/sta-ng/assets/icons/com.png" title="{{name}}" />
                    </button>
                  </div>
                  <div class="flex-1 list-entry">{{this.name}}</div>
                  {{#if ../options.editable}}
                  <div class="flex control">
                    <button class="btn btn-editors edit" title="Edit Item"><i class="fas fa-edit"></i></button>
                    <button class="btn2 btn-editors delete" title="Delete Item"><i class="fas fa-trash"></i></button>
                  </div>
                  {{/if}}
                </li>
              {{/each}}
            </div>
            <div class="sheet-char-add">
              {{#if  options.editable}}
                <button class="btn control create" title="Create item" data-type="injury"><i class="fas fa-plus"></i></button>
              {{/if}}
            </div>
          </div>
          <div class="sheet-char-amor mt-10">
            <div class="sheet-section-headline">
              <h3 class="sheet-section-h3 sheet-section-long-h3">{{localize 'sta.actor.belonging.armor.title'}}</h3>
            </div>
            <div class="sheet-char-talents" data-type="amor">
              {{#each armor}}
                <li class="flex align-center" id="armor-{{this.id}}" data-item-id="{{this.id}}" data-item-type="{{this.type}}" data-item-value="{{this.name}}">
                  <div class="flex icon-wp pr-5">
                    <button class="btn-chat chat">
                      <img class="list-icon" src="{{this.img}}" title="{{this.name}}" />
                    </button>
                  </div>
                  <div class="flex-1 flex">
                    <div class="flex-1 list-entry">{{this.name}}</div>
                    <div class="list-entry pr-10">{{this.data.data.protection}}</div>
                  </div>
                  {{#if ../options.editable}}
                  <div class="flex control">
                    <button class="btn btn-editors edit" title="Edit Item"><i class="fas fa-edit"></i></button>
                    <button class="btn2 btn-editors delete" title="Delete Item"><i class="fas fa-trash"></i></button>
                  </div>
                  {{/if}}
                </li>
              {{/each}}
            </div>
            <div class="sheet-char-add">
              {{#if  options.editable}}
                <button class="btn control create" title="Create item" data-type="armor"><i class="fas fa-plus"></i></button>
              {{/if}}
            </div>
          </div>
          <div class="sheet-char-item mt-10">
            <div class="sheet-section-headline">
              <h3 class="sheet-section-h3 sheet-section-long-h3">{{localize 'sta.actor.belonging.other.title'}}</h3>
            </div>
            <div class="sheet-char-talents" data-type="item">
              {{#each other}}
                <li class="flex align-center" id="other-{{this.id}}" data-item-id="{{this.id}}" data-item-type="{{this.type}}" data-item-value="{{this.name}}">
                  <div class="flex icon-wp pr-5">
                    <button class="btn-chat chat">
                      <img class="list-icon" src="{{this.img}}" title="{{this.name}}" />
                    </button>
                  </div>
                  <div class="flex-1 flex">
                    <div class="flex-1 list-entry">{{this.name}}</div>
                    <div class="list-entry pr-10">{{this.data.data.quantity}}</div>
                  </div>
                  {{#if ../options.editable}}
                  <div class="flex control">
                    <button class="btn btn-editors edit" title="Edit Item"><i class="fas fa-edit"></i></button>
                    <button class="btn2 btn-editors delete" title="Delete Item"><i class="fas fa-trash"></i></button>
                  </div>
                  {{/if}}
                </li>
              {{/each}}
            </div>
            <div class="sheet-char-add">
              {{#if  options.editable}}
                <button class="btn control create" title="Create item" data-type="item"><i class="fas fa-plus"></i></button>
              {{/if}}
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</form>