<form class="{{cssClass}} flexcol" autocomplete="off">

  <header class="sheet-header flexrow">
    <div class="header-details flexrow">
      <img class="profile" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
      <h1 class="item-name">
        <input name="name" type="text" value="{{data.name}}" placeholder="{{localize 'sta.item.genericitem.name'}}" />
      </h1>
    </div>

    <div class="summary flexrow">
      <div>
        <input type="number" name="data.opportunity" placeholder="0" value="{{data.data.opportunity}}" />
        <label class="label">{{localize 'sta.item.genericitem.opportunity'}}</label>
      </div>
      <div>
        <input type="number" name="data.escalation" placeholder="0" value="{{data.data.escalation}}" />
        <label class="label">{{localize 'sta.item.genericitem.escalation'}}</label>
      </div>
      <div>
        <label class="label">{{localize 'sta.actor.belonging.weapon.range'}}</label>
        <select name="data.range">
          {{#select data.data.range}}
          <option value="{{localize 'sta.actor.belonging.weapon.melee'}}">{{localize
            'sta.actor.belonging.weapon.melee'}}</option>
          <option value="{{localize 'sta.actor.belonging.weapon.ranged'}}">{{localize
            'sta.actor.belonging.weapon.ranged'}}</option>
          {{/select}}
        </select>
      </div>
    </div>
  </header>

  </header>

  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize 'sta.sheet.tab.description'}}</a>
    <a class="item" data-tab="qualities">{{localize 'sta.sheet.tab.qualities'}}</a>
  </nav>

  <section class="sheet-spacer"></section>

  <section class="sheet-body">
    {{> "systems/sta-ng/templates/apps/sheets/parts/tab-description.hbs"}}
    <div class="flexrow tab qualities" data-group="primary" data-tab="qualities">
      <div>
        <input type="number" name="data.damage" value="{{data.data.damage}}" />
        <label class="label">{{localize 'sta.actor.belonging.weapon.damage'}}</label>
      </div>
      <div>
        <input type="number" name="data.hands" value="{{data.data.hands}}" />
        <label class="label">{{localize 'sta.actor.belonging.weapon.hands'}}</label>
      </div>
      <div>
        <input type="number" name="data.qualities.hiddenx" value="{{data.data.qualities.hiddenx}}" />
        <label class="label">{{localize 'sta.actor.belonging.weapon.hiddenx'}}</label>
      </div>
      <div>
        <input type="number" name="data.qualities.piercingx" value="{{data.data.qualities.piercingx}}" />
        <label class="label">{{localize 'sta.actor.belonging.weapon.piercingx'}}</label>
      </div>
      <div>
        <input type="number" name="data.qualities.viciousx" value="{{data.data.qualities.viciousx}}" />
        <label class="label">{{localize 'sta.actor.belonging.weapon.viciousx'}}</label>
      </div>
      <div></div>

      <div class="linebreak"></div>

      <div>
        <input class="" type="checkbox" name="data.qualities.accurate" {{checked data.data.qualities.accurate}}>
        <label class="label">{{localize 'sta.actor.belonging.weapon.accurate'}}</label>
      </div>
      <div>
        <input type="checkbox" name="data.qualities.area" {{checked data.data.qualities.area}}>
        <label class="label">{{localize 'sta.actor.belonging.weapon.area'}}</label>
      </div>
      <div>
        <input type="checkbox" name="data.qualities.charge" {{checked data.data.qualities.charge}}>
        <label class="label">{{localize 'sta.actor.belonging.weapon.charge'}}</label>
      </div>
      <div>
        <input class="" type="checkbox" name="data.qualities.cumbersome" {{checked data.data.qualities.cumbersome}}>
        <label class="label">{{localize 'sta.actor.belonging.weapon.cumbersome'}}</label>
      </div>
      <div>
        <input class="" type="checkbox" name="data.qualities.deadly" {{checked data.data.qualities.deadly}}>
        <label class="label">{{localize 'sta.actor.belonging.weapon.deadly'}}</label>
      </div>
      <div>
        <input class="" type="checkbox" name="data.qualities.debilitating" {{checked data.data.qualities.debilitating}}>
        <label class="label">{{localize 'sta.actor.belonging.weapon.debilitating'}}</label>
      </div>
      <div>
        <input type="checkbox" name="data.qualities.grenade" {{checked data.data.qualities.grenade}}>
        <label class="label">{{localize 'sta.actor.belonging.weapon.grenade'}}</label>
      </div>
      <div>
        <input class="" type="checkbox" name="data.qualities.inaccurate" {{checked data.data.qualities.inaccurate}}>
        <label class="label">{{localize 'sta.actor.belonging.weapon.inaccurate'}}</label>
      </div>
      <div>
        <input type="checkbox" name="data.qualities.intense" {{checked data.data.qualities.intense}}>
        <label class="label">{{localize 'sta.actor.belonging.weapon.intense'}}</label>
      </div>
      <div>
        <input class="" type="checkbox" name="data.qualities.knockdown" {{checked data.data.qualities.knockdown}}>
        <label class="label">{{localize 'sta.actor.belonging.weapon.knockdown'}}</label>
      </div>
      <div>
        <input class="" type="checkbox" name="data.qualities.nonlethal" {{checked data.data.qualities.nonlethal}}>
        <label class="label">{{localize 'sta.actor.belonging.weapon.nonlethal'}}</label>
      </div>
      <div></div>
    </div>
  </section>

</form>