<form class="{{cssClass}} flexcol" autocomplete="off">

  <header class="sheet-header talent-header flexrow">
    <div class="header-details flexrow">
      <img class="profile" src="{{data.img}}" data-edit="img" title="{{name}}" />
      <h1 class="item-name">
        <input name="name" type="text" value="{{data.name}}" placeholder="{{localize 'sta.item.genericitem.name'}}" />
      </h1>
    </div>

    <ul class="summary flexrow">
      <li style="text-align: start;">
        <label class="label">{{localize 'sta.item.talent.type.title'}}</label>
        <select name="data.talenttype.typeenum">
          {{#select data.data.talenttype.typeenum}}
          <option value="general">{{localize 'sta.item.talent.type.general'}}</option>
          <option value="discipline">{{localize 'sta.item.talent.type.discipline'}}</option>
          <option value="species">{{localize 'sta.actor.character.species'}}</option>
          <option value="house">{{localize 'sta.item.talent.houselegacy'}}</option>
          {{/select}}
        </select>
      </li>
      {{#if (eq data.data.talenttype.typeenum "discipline")}}
      <li style="text-align: end;">
        <label class="label">{{localize 'sta.item.talent.requires'}}</label>
        <select name="data.talenttype.description">
          {{#select data.data.talenttype.description}}
          <option value="command">{{localize 'sta.actor.character.discipline.command'}}</option>
          <option value="conn">{{localize 'sta.actor.character.discipline.conn'}}</option>
          <option value="engineering">{{localize 'sta.actor.character.discipline.engineering'}}</option>
          <option value="medicine">{{localize 'sta.actor.character.discipline.medicine'}}</option>
          <option value="science">{{localize 'sta.actor.character.discipline.science'}}</option>
          <option value="security">{{localize 'sta.actor.character.discipline.security'}}</option>
          {{/select}}
        </select>
        <input type="number" name="data.talenttype.minimum" value="{{data.data.talenttype.minimum}}" />
        <label class="label">+</label>
      </li>
      {{!-- <li>
      </li> --}}
      {{else if (eq data.data.talenttype.typeenum "species")}}
      <li style="text-align: end;">
        <label class="label">{{localize 'sta.item.talent.requires'}} {{localize 'sta.actor.character.species'}}
        </label>
        <input style="width:100px;" type="text" name="data.talenttype.description"
          value="{{data.data.talenttype.description}}" />
      </li>
      {{else if (eq data.data.talenttype.typeenum "house")}}
      <li style="text-align: end;">
        <label class="label">{{localize 'sta.item.talent.requires'}} {{localize 'sta.item.talent.houserequired'}}
        </label>
        <select name="data.talenttype.description">
          {{#select data.data.talenttype.description}}
          <option value="leaders">{{localize 'sta.item.house.legacy.leaders'}}</option>
          <option value="warriors">{{localize 'sta.item.house.legacy.warriors'}}</option>
          <option value="spacefarers">{{localize 'sta.item.house.legacy.spacefarers'}}</option>
          <option value="engineers">{{localize 'sta.item.house.legacy.engineers'}}</option>
          <option value="scientists">{{localize 'sta.item.house.legacy.scientists'}}</option>
          <option value="physicians">{{localize 'sta.item.house.legacy.physicians'}}</option>
          {{/select}}
        </select>
      </li>
      {{/if}}
    </ul>
  </header>

  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="description">{{localize 'sta.sheet.tab.description'}}</a>
    <a class="item" data-tab="effects">{{localize 'sta.sheet.tab.effects'}}</a>
  </nav>

  <section class="sheet-body">
    <div class="tab flexrow active" data-group="primary" data-tab="description">
      {{editor content=data.data.description target="data.description" button=true owner=owner editable=true}}
    </div>
    {{> "systems/sta-ng/templates/apps/parts/tab-effects.hbs"}}
  </section>
</form>