<div class="sta roll attribute">
  <div class="dice-roll">
    <div class="dice-result">
      <div class="dice-formula">
        <table class="aim">
          <tr>
            <td> {{formula}} </td>
          </tr>
        </table>
      </div>
      {{{tooltip}}}
      {{#if effects}}
      {{#if (eq effects 1)}}
      <h4 class="dice-total effect">{{localize "sta.roll.effect"}}</h4>
      {{else}}
      <h4 class="dice-total effect">{{localize "sta.roll.effectPlural" count=effects}}</h4>
      {{/if}}
      {{else}}
      <h4 class="dice-total effect">{{localize "sta.roll.effectNone"}}</h4>
      {{/if}}
      {{#if successes}}
      {{#if (eq successes 1)}}
      <h4 class="dice-total success">{{localize "sta.roll.success"}}</h4>
      {{else}}
      <h4 class="dice-total success">{{localize "sta.roll.successPlural" count=successes}}</h4>
      {{/if}}
      {{else}}
      <h4 class="dice-total success">{{localize "sta.roll.successNone"}}</h4>
      {{/if}}
    </div>
  </div>
  <div class="reroll-result challenge">
    <span>{{localize "sta.roll.rerollresults"}}</span>
    <input id="actor" type="hidden" value="{{actor}}">
    <input id="item" type="hidden" value="{{item}}">
    <input id="pool" type="hidden" value="{{pool}}">
  </div>
</div>