<div class="sta roll task">
  <div class="dice-roll">
    <div class="dice-result">
      <div class="dice-formula">
        <table class="aim">
          <tr>
            <td class="aim-label"> {{localize scores.[0].label}} </td>
            <td class="aim-value"> {{scores.[0].value}} </td>
          </tr>
          <tr>
            <td class="aim-label"> {{localize scores.[1].label}} </td>
            <td class="aim-value"> {{scores.[1].value}} </td>
          </tr>
          <tr>
            <td class="aim-label"> {{localize "sta.roll.complicationRange"}} </td>
            <td class="aim-value"> {{complicationRange}} </td>
          </tr>
          <tr>
            <td class="aim-label"> {{localize "sta.apps.focus"}} </td>
            <td class="aim-value"> {{#if hasFocus}}{{localize "sta.yes"}}{{else}}{{localize "sta.no"}}{{/if}} </td>
          </tr>
          <tr>
            <td class="aim-label"> {{localize "sta.apps.determination"}} </td>
            <td class="aim-value"> {{#if usesDetermination}}{{localize "sta.yes"}}{{else}}{{localize "sta.no"}}{{/if}} </td>
          </tr>
        </table>
      </div>
      {{{tooltip}}}
      {{#if complications}}
      {{#if (eq complications 1)}}
      <h4 class="dice-total complication">{{localize "sta.roll.complication"}}</h4>
      {{else}}
      <h4 class="dice-total complication">{{localize "sta.roll.complicationPlural" count=complications}}</h4>
      {{/if}}
      {{/if}}
      {{#if successes}}
      {{#if (eq successes 1)}}
      <h4 class="dice-total success">{{localize "sta.roll.success"}}</h4>
      {{else}}
      <h4 class="dice-total success">{{localize "sta.roll.successPlural" count=successes}}</h4>
      {{/if}}
      {{else}}
      <h4 class="dice-total success">{{localize "sta.roll.successNone"}}</h4>
      {{/if}}
    </div>
  </div>
  <div class="reroll-result task">
    <span> {{localize "sta.roll.rerollresults"}}</span>
    <input id="actor" type="hidden" value="{{actor}}">
    <input id="complicationRange" type="hidden" value="{{complicationRange}}">
    <input id="hasFocus" type="hidden" value="{{hasFocus}}">
    <input id="pool" type="hidden" value="{{pool}}">
    <input id="score0Key" type="hidden" value="{{scores.[0].key}}">
    <input id="score0Label" type="hidden" value="{{scores.[0].label}}">
    <input id="score0Value" type="hidden" value="{{scores.[0].value}}">
    <input id="score1Key" type="hidden" value="{{scores.[1].key}}">
    <input id="score1Label" type="hidden" value="{{scores.[1].label}}">
    <input id="score1Value" type="hidden" value="{{scores.[1].value}}">
    <input id="usesDetermination" type="hidden" value="{{usesDetermination}}">
  </div>
</div>